.App {
  background-color: #00a3cc;
  padding: 10px;
}
.Container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  overflow-x: auto;
}

.Column {
  background-color: lightgray;
  overflow: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-width: 225px;
}

.Add-card-btn {
  margin-top: auto;
  cursor: pointer;
  padding: 10px;
  color: darkslategrey;
}

.Card {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0px;
}

.Dragging {
  opacity: 0.5;
}

.Card textarea {
  border: none;
  box-shadow: none;
  font-size: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
  width: 100%;
  outline: none;
  resize: none;
}

.Edit-card-actions {
  display: flex;
  align-items: center;
}

.Save-card-btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: inherit;
  border-radius: 5px;
  box-shadow: 1px 1px slategrey;
  cursor: pointer;
}

.Save-card-btn:disabled {
  color: lightgray;
  background-color: lightslategray;
  cursor: not-allowed;
}

.Exit-save-btn {
  display: inline-block;
  color: darkslategray;
  font-weight: 500;
  margin-left: 15px;
  font-size: 22px;
  cursor: pointer;
}

/* @media only screen and (max-width: 1050px) {
  .App {
    background-color: pink;
  }
} */
